<%= form_with model: @message, local: false do |form| %>
  <div>
  <%= form.hidden_field :user_name, value: current_user.username %>
  <%= form.text_area :content %>
  <%= form.submit "Send" %>
<% end %>

<h2>Messages</h2>
<%= turbo_stream_from "messages_#{current_user.id}" %>

<div id="messages_<%= current_user.id %>">
  <%= render @messages %>
</div>

<%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
